
@{
    ViewBag.Title = "AboutUs";
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                    <p>
                        Loan Management System is web based project that is maintain all the activity related to Loan, it store all the information of Loan, Loan Management Project provide sending mail to parent regarding student activity detail. We can generate report according to date & show all report also; Because of manual system we faced many problems. The maintenance cost of manual system was very high. And they didn’t store historical information and not possible to view all at a time.

                        This web site reduces the time & cost and provides the facility to retrieve student all information according to requirement
                        	Interest rates and the loan details are also available at the click of a mouse.
                        	Customer can apply for a loan and after approved it they can track their details from online.
                        	This system provides detail about the customers, their loan details,EMI details and its rate details.
                        	System	provides	download	option	to download	different type of	loan form	in MS word document.
                        	Using with this system admin can find customer easily and it’s a paperless system	so workload is reduced.
                        	The decision process becomes faster and more consistent
                        	After registration and login customer can use the system easily and	also customer can	view any query about loan details as well as EMI details in their profile. So this system saves time.
                        	Provides good communication for the customer
                        	In this system there are used EMI(Equated Monthly Installment) calculators.
                        	Provides a facility to generate the reports very easily.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
